$primary: #2C5F5D;
$primary-light: #1E4344;

$secondary: #A5D9D0;
$secondary-transparent: rgba(165, 217, 208, 0.31);

$white-gradient-4: rgba(201, 201, 201, 0.4);
$white-gradient-05: rgba(196, 196, 196, 0.05);
$white-gradient-2: rgba(196, 196, 196, 0.2);

$placeholder: #cccccc;
$background: rgba(255, 255, 255, 0.15);

$font-white: white;
$font-dark: #1E4344;
$font-accent: #7FDED4;
