$primary: #163137;
$primary-light: #1F434F;
$primary-extra-light: #2c5b68;

$secondary: #A5D9D0;
$white-gradient-4: rgba(201, 201, 201, 0.4);
$white-gradient-05: rgba(196, 196, 196, 0.05);
$white-gradient-2: rgba(196, 196, 196, 0.2);

$placeholder: #cccccc;

