@use 'colors' as *;

.portal {
  background: linear-gradient(135deg, $primary, $primary-light);
  min-height: 100dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;

  .header {
    width: 100%;
    border-radius: 16px;
    padding: 12px 14px;
    background-color: $background;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
      width: 28px;
      height: 28px;
      background-color: $font-accent;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: $font-dark;
    }
  }

  .container {
    display: flex;
    flex: 1;
    gap: 20px;

    .menu {
      width: 200px;
      background: $background;
      border-radius: 16px;
      padding: 16px 20px;
      display: flex;
      flex-direction: column;

      &__title {
        text-align: center;
        margin: 10px 0;
      }
    }

    .content {
      flex: 1;
      background: $background;
      border-radius: 16px;
      padding: 26px;

      &__header {

      }

      &__main {
      }
    }
  }
}
