
<div class="portal">

  <div class="header">
    <div class="icon">E</div>
    <app-title size="26">EduTrends</app-title>
  </div>

  <div class="container">
    <div class="menu">
      <div class="menu__title">
        <app-title size="24">Menú principal</app-title>
      </div>
      @for (item of menuItems; track $index) {
        <app-menu-button [icon]="item.icon" [link]="item.link">{{ item.text }}</app-menu-button>
      }
    </div>

    <div class="content">
      <div class="content__header">
        <app-title size="24">
          {{title()}}
        </app-title>
      </div>
      <div class="content__main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
